html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  background: #136a8a; 

  background-image: linear-gradient(to bottom, #0047b6, #3a68ca, #608add, #86aced, #afcefd);
  color: #ffb300;
}
/*
.pages {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}*/

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}